{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{{parent()}}
<div class="bg-dark">
    <div class="container bg-dark">
            <div class="row justify-content-center">
                <div class="col-md-8 cursor">
                    {% for post in pagination %}
                    <div class="bg-white rounded p-3 my-3" style="cursor:pointer;" onclick="window.location.href='{{ path('post-view', {id: post.id}) }}'">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <h3>{{post.titulo}}</h3>
                                <div class="my-3 bg-yellow"> <i class="fa fa-user"></i><strong class="pl-1">Creado por {{post.email}}</strong></div>
                                <div class=" bg-green"><i class="far fa-clock"></i> <strong class="pl-1">Fecha de publicación: {{ post.fechaPublicacion | date('Y-m-d') }}</strong></div>
                            </div>
                            <div class="p-2 bd-highlight">
                                <div class="align-self-center">
                                    <img class="rounded" src="{{ asset('uploads/fotos/'~post.foto) }}" width="150px">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        <div class="d-flex justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
