{% extends 'base.html.twig' %}

{% block title %}Create PostController!{% endblock %}

{% block body %}
{{parent()}}

<div class="container md-6 mt-4">
    <div class="row justify-content-center">
        <div class="col-6 background p-2">
            <h1 class="h3 mb-3 font-weight-normal">Crear Post</h1>
            {{ form(formulario)}}
        </div>
    </div>
</div>

{% endblock %}