{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
{{parent()}}
<div>
    <div class="container bg-white rounded my-3 p-4">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h3>{{post.titulo}}</h3>
                <div class="my-3" style="color: #3282b8; cursor:pointer;" onclick="like({{post.id}})" ><i class="fa fa-thumbs-up"></i><strong> {{post.likes}} Likes</strong></div>
                <div class="text-success"><i class="far fa-clock"></i> <strong>Fecha de publicación: {{ post.fechaPublicacion | date('Y-m-d') }}</strong></div>
            </div>
            <div class="p-2 bd-highlight">
                <div class="align-self-center">
                    <img class="rounded" src="{{ asset('uploads/fotos/'~post.foto) }}" width="150px" />
                </div>
            </div>
        </div>
        <hr />
        <div class="text-justify my-3">
            {{post.contenido}}
        </div>
    </div>
    
    <div class="container">
        {{form(formulario)}}
    </div>

    <h4 class="container">Comentarios</h4>
    <div class="container bg-white rounded my-3 p-4">
            {% for article in pagination %}
                <p class="text-success font-weight-bold">{{ article.email }} dijo:</p>
                <p class="font-weight-bold">{{ article.comentario }}</p>
                <hr>
            {% endfor %}
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
