{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
{{parent()}}
<div class="bg-dark">
    <div class="container bg-dark">
            <div class="row">
                <div class="col-md-8 cursor">
                    {% for post in pagination %}
                    <div class="bg-white rounded p-3 my-3" style="cursor:pointer;">
                        <div class="pb-3"><i class="fas fa-times" style="float:right" onclick="window.location.href='{{ path('post-delete', {id: post.id}) }}'"></i></div>
                        <div class="d-flex bd-highlight"  onclick="window.location.href='{{ path('post-view', {id: post.id}) }}'">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <h3>{{post.titulo}}</h3>
                                <div class="my-3 bg-yellow"><i class="fa fa-user"></i><strong class="pl-1"> Creado por {{post.email}}</strong></div>
                                <div class=" bg-green"><i class="far fa-clock"></i><strong class="pl-1">Fecha de publicación: {{ post.fechaPublicacion | date('Y-m-d') }}</strong></div>
                            </div>
                            <div class="p-2 bd-highlight">
                                <div class="align-self-center">
                                    <img class="rounded" src="{{ asset('uploads/fotos/'~post.foto) }}" width="150px">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="bg-white rounded p-3 my-3">
                        <h4>Mis Comentarios</h4>
                        {% for comment in paginationComments %}
                        <a class="bg-white rounded my-2" style="text-decoration:none; cursor:pointer;" onclick="window.location.href='{{ path('post-view', {id: comment.id}) }}'">
                            <div class="d-flex bd-highlight">
                                <div class="p-1 flex-grow-1 bd-highlight">
                                    <h6>{{comment.comentario}}</h6>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <div class="d-flex justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
