{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}

<div class="example-wrapper">

    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    <div class="container md-6 mt-4">
        <div class="row justify-content-center">
            <div class="col-6 background p-2">
                <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
                {{ form(formulario)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
