{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{{parent()}}
    <div class="container pt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="card text-center">
            <div class="card-header">
                Usuario
            </div>
            <div class="card-body">
                    <hr>
                    <h5 class="card-title"><strong>Email:</strong> {{user.email}}</h5>
                    <hr>
                    <h5 class="card-title"><strong>Nombre:</strong> {{user.nombre}}</h5>
                    <hr>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
    </div>

{% endblock %}
